@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TitanOne";
  src: url("./assets/fonts/TitanOne-Regular.ttf") format("truetype");
}

body {
  background: #262526;
}

.input {
  @apply w-[25vh] md:w-[300px] p-[7px] bg-[#1e1e1e] appearance-none border-2 border-[#dbd7d0] rounded py-2 px-4
   text-[#FFD166] leading-tight focus:outline-none focus:bg-[#1e1e1e] focus:border-yellow-400;
}

.select {
  @apply block w-[25vh] md:w-[300px] py-2.5 px-0 text-sm text-yellow-400 bg-transparent border-0 border-b-2 border-yellow-400 focus:outline-none;
}

.button {
  @apply w-full md:w-[300px] focus:outline-none text-black
   bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-bold 
   rounded-lg text-sm px-5 py-2.5;
}

.option-custom {
  @apply bg-black text-yellow-400;
}
